/* Preloader */
.preloader-inner {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: $white-color;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .cancel-preloader{
        position: absolute;
        bottom: 30px;
        right: 30px;
       a{
            background-color: $white-color;
            font-weight: 600;
            text-transform: capitalize;
            color: $primary-color;
            width: 200px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            border-radius: 30px;
            display: block;
            transition: $transition;
            &:hover{
                background-color: $primary-color;
                color: $white-color;
            }
       }
    }
}
.spinner {
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 15px;
  height: 15px;
  background-color: $primary-color;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
