@import url('https://fonts.googleapis.com/css?family=Mukta+Vaani:200,300,400,500,600,700,800&display=swap');

$bg-body: #f2f3f7;
$font-primary: 'Mukta Vaani', sans-serif;
$base-font: 16px;
$white: #ffffff;
$black: #141d46;
$muted: #8A98AC;
$primary: #506fe4;
$secondary: #96a3b6;
$success: #43d187;
$danger: #f9616d;
$warning: #f7bb4d;
$info: #3d9bfb;
$light: #f2f3f7;
$dark: #141d46;
$lightgray: #d4d4d4;
$primary-rgba: rgba(80,111,228,0.1);
$secondary-rgba: rgba(150,163,182,0.1);
$success-rgba: rgba(67,209,135,0.1);
$danger-rgba: rgba(249,97,109,0.1);
$warning-rgba: rgba(247,187,77,0.1);
$info-rgba: rgba(61,155,251,0.1);
$light-rgba: rgba(242,243,247,0.1);
$dark-rgba: rgba(20,29,70,0.1);
$bg-primary-gradient: linear-gradient(58deg, #506fe4 0, #969efa 100%);
$bg-secondary-gradient: linear-gradient(58deg, #96a3b6 0, #e6e8f0 100%);
$bg-success-gradient: linear-gradient(58deg, #43d187 0, #45e396 100%);
$bg-danger-gradient: linear-gradient(58deg, #f9616d 0, #ff8181 100%);
$bg-warning-gradient: linear-gradient(58deg, #f7bb4d 0, #fef07f 100%);
$bg-info-gradient: linear-gradient(58deg, #3d9bfb 0, #a7daf5 100%);
$bg-light-gradient: linear-gradient(58deg, #f2f3f7 0, #f8fbff 100%);
$bg-dark-gradient: linear-gradient(58deg, #141d46 0, #4c4c4c 100%);
$shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
$btn-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$menu-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
$width: 100%;
$height: 100%;
$search-bg-color: #f2f3f7;
$topbar-bg-color: #ffffff;
$card-bg: #ffffff;
$heading-color: #141d46;
$border-color: rgba(0,0,0,0.03);
$table-color: #141d46;