/* 
--------------------------------
    : Custom - General css :
--------------------------------
*/
html {
  position: relative;
  min-height: 100%;
}
body {  
  font-family: $font-primary;
  margin: 0;
  background: $bg-body;
  font-size: $base-font;
  font-weight: 300;
  color: $muted;
  line-height: 1.5;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    color: $heading-color;
}
h1 {
  font-size: 38px; 
}
h2 {
  font-size: 30px; 
}
h3 {
  font-size: 26px; 
}
h4 {
  font-size: 22px; 
}
h5 {
  font-size: 18px; 
}
h6 {
  font-size: 16px; 
}
b {
  font-weight: 700;
}
strong {
  font-weight: 700;
}
p {
    line-height: 1.3;
    margin-bottom: 10px;
}
label {
    vertical-align: middle;
}
* {
  outline: none !important;
}
a {
  color: $primary;
  &:hover {
    color: darken($primary, 5%);
    outline: 0;
    text-decoration: none;
  }
  &:active {
    color: darken($primary, 5%);
    outline: 0;
    text-decoration: none;
  }
  &:focus {
    color: darken($primary, 5%);
    outline: 0;
    text-decoration: none;
  }
}
code {
  color: $primary;
}
.logobar {
  padding: 15px 0;
  margin-bottom: 0;
  text-align: center;
  border-bottom: 1px solid $border-color;
  .logo {
    &.logo-small {
      
    }
    img {
      width: 100px;
      height: 40px;
    }
  }
}
.leftbar {
  width: 250px;
  height: 100%;
  position: fixed;
  background: $white;  
  z-index: 99;
  transition: all 0.3s ease;
}
.rightbar {
  margin-left: 250px;
  overflow: hidden;
  min-height: 500px;
  transition: all 0.3s ease;
}
.contentbar {
  padding: 30px;
  margin-bottom: 30px;
}
.footerbar {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 250px;
  padding: 20px 30px;
  text-align: center;
  background-color: $white;
  background-color: $card-bg;
}
.toggle-menu .footerbar {
    left: 0;
}
.slimScrollBar {
    z-index: 0 !important;
}
.navigationbar {
    height: calc(100vh - 0px);
    overflow: auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background: transparent; 
}
::-webkit-scrollbar-thumb {
  background: transparent; 
}
::-webkit-scrollbar-thumb:hover {
  background: transparent; 
}

.vertical-menu-detail {
    border-right: 1px solid $border-color;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .logobar {
      margin-bottom: 5px;
    }
}

.vertical-menu-icon {
  height: 100%;
  width: 60px;
  float: left;
  background-color: $primary;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  overflow: hidden;
  .nav-pills {
      .nav-link {
          padding: 7px 5px;
          margin: 10px;
          text-align: center;
          border-radius: 3px;
          img {
              width: 25px;
          }
          &.active {
              background-color: rgba(0, 0, 0, 0.3);
          }
      }
      .logobar {
        margin-bottom: 200px;
      }
  }
}
.menu-title {
    margin-bottom: 10px;
    padding: 10px 15px;
    font-size: 18px;
    color: $black;
    border-bottom: 1px solid $border-color;
}

/*
.vertical-menu-icon .nav-pills .nav-link.active:before {
    content: "";    
    position: absolute;
    left: 52px;
    top: auto;
    font-size: 0;
    font-weight: 600;
    line-height: 0;
    color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 5px;
    border: 7px solid $primary;
    border-radius: 3px;
}
*/