/* 
----------------------------------
    : Custom - Dashboard css :
----------------------------------
*/
.dash-social-icon {
    margin-top: 15px;
    margin-bottom: 30px;
    i {
        background-color: rgba(255, 255, 255, 0.25);
        color: $white;
        border-radius: 50%;
        font-size: 24px;
        padding: 14px 15px;
    }
}
.dash-flag-icon .flag {
    display: inline-block;
    font-size: 18px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
    background-color: $white;
    border-radius: 50%;
}
.dash-analytic-icon {
    margin-top: 15px;
    margin-bottom: 30px;
    i {
        border-radius: 3px;
        font-size: 20px;
        padding: 12px 12px;
    }
}
.analytic-chart-label {
  .analytic-label-perform {
    margin-bottom: 0;
    text-align: center;
  }  
  .list-inline {
    text-align: center;
  }
  .analytic-chart-piety {
    text-align: right;
  }
}
.ecommerce-widget {
    .card-header {
        border-bottom: none;
        .dash-analytic-icon {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    .card-footer {
        border-top: none;
    }
}
.product-file-type {
    .img-icon {
        width: 46px;
        height: 46px;
        line-height: 46px;
        font-weight: 600;
        border-radius: 50%;
        font-size: 18px;
        text-align: center;
    }
}
.ecommerce-upload {
    .dropzone {
            min-height: 278px;
            border-top: 1px dashed $primary;
            border-right: 1px dashed $primary;
            border-left: 1px dashed $primary;
            border-bottom: none;
            background: $primary-rgba;
            border-radius: 0;
            margin: 0 1px 0 0;
        .dz-message {
            font-size: 20px;
        }
    }
    img {
        margin-top: -22%;
        width: 100%;
    }
}
#latestorder_wrapper {
    .dataTables_length {
        display: none !important;
    }
}
#topproducts_wrapper {
    .dataTables_length {
        display: none !important;
    }
}
.best-product-slider {
    &> i {
        position: absolute;
        top: -54px;
        right: -5px;
        font-size: 18px;
        &:first-child {
            right: 15px;
        }
        &:hover {
            color: $primary;
        }
    }
}
.product-slider {
    .slick-slide {
        img {
            display: inline-block;
        }
    }
    &> i {
        position: absolute;
        bottom: 60px;
        right: 15px;
        font-size: 20px;
        z-index: 1;
        &:first-child {
            right: 60px;
        }
        &:hover {
            color: $primary;
        }
    }
}
.sun-img {
    width: 60px;
}

.crm-tab-widget {
    .nav-pills {
        .nav-link {
            &.active {
                color: $primary;
                background-color: transparent;
            }
        }
    }
}

.user-slider {
    .slick-slide {
        .action-icon {
            width: 80px;
            height: 80px;
            line-height: 70px;
            font-weight: 600;
            border-radius: 50px;
            font-size: 20px;
            text-align: center;
            margin-bottom: 30px;
            margin-top: 30px;
        }
    }
    &> i {
        position: absolute;
        top: 80px;
        right: 30px;
        font-size: 20px;
        z-index: 1;
        &:first-child {
            left: 30px;
            right: auto;
        }
        &:hover {
            color: $primary;
        }
    }
}

.vector-world-map {
    .jvectormap-zoomin {
        display: none;
    }
    .jvectormap-zoomout {
        display: none;
    }
}
