// Responsive Breakpoint
@mixin portrait-phone() {
    @media (max-width: 575.98px) {
        @content;
    }
}
@mixin landscape-phone() {
    @media (min-width: 576px) and (max-width: 767.98px) {
        @content;
    }
}
@mixin tablet() {
    @media (min-width: 768px) and (max-width: 991.98px) {
        @content;
    }
}
@mixin desktop() {
    @media (min-width: 992px) and (max-width: 1199.98px) {
        @content;
    }
}
@mixin screen-1200() {
    @media (min-width: 1200px) and (max-width: 1439.98px) {
        @content;
    }
}
@mixin screen-1440() {
    @media (min-width: 1440px) and (max-width: 1599.98px) {
        @content;
    }
}
@mixin screen-1600() {
    @media (min-width: 1600px) and (max-width: 1919.98px) {
        @content;
    }
}
@mixin screen-1920() {
    @media (min-width: 1920px) {
        @content;
    }
}

